*cache*
*Cache*
*CACHE*
*storage*
*Storage*
*STORAGE*
*log*
*Log*
*telemetry*
*Telemetry*
*UserFeedback*

logs/
Logs/
Trash/
trash/
Steam/
.zim/modules
.floorp/**/extensions
zed/
baloo/
bottles/
Daedalic Entertainment GmbH/
vulkan/
ktorrent/
icons/
Proton Mail/
places.sqlite
lutris/
Element/
OpenRGB/
watch-later/
tool-options/
unity3d/
okular/docdata
History/
