[Desktop Entry]
Comment[en_GB]=
Comment=
Exec=/home/steinardth/Forrit/Script/RGB.sh
GenericName[en_GB]=
GenericName=
Icon=OpenRGB
MimeType=
Name[en_GB]=RGB.sh
Name=RGB.sh
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-AutostartScript=true
X-KDE-SubstituteUID=false
X-KDE-Username=
