[Desktop Entry]
Icon=inode-directory
Name=Season 2
Type=Link
URL[$e]=file:///mnt/PlexMedia/Star Wars/TV Shows/Star Wars: The Clone Wars/Season 2
X-KDE-LastOpenedWith=org.kde.krename
