[Desktop Entry]
Icon=inode-directory
Name=Star Wars: The Clone Wars
Type=Link
URL[$e]=file:///mnt/PlexMedia/Star Wars/TV Shows/Star Wars: The Clone Wars
X-KDE-LastOpenedWith=org.kde.krename
